/* About Section Styles */
#about {
  width: 100%;
  background: $text-color;
  color: $main-bg-color;
}

#about .wrapper {
  padding: 40px 25px;
}

#about h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

#about p {
  font-size: 1rem;
  line-height: 1.5;
}